@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
  font-family: 'REM', sans-serif;
  align-items: center;
  margin: 0;
  text-decoration: none;
  padding: 0;
  transition: 0.50s;
  font-weight: 500;
  color: #222;
  font-family: 'Tilt Neon', sans-serif;
}

/* Hampurger Menu */
#show{
  position: relative;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  left: 20px;
  height: 20px;
  place-items: center;
  box-shadow: inset 1px 1px 7px #DBDBDB;
}
.line{
  width: 30px;
  border-radius: 1px;
  height: 3px;
  background: #005;
}
.line2{
  margin-top: 5px;
  width: 30px;
  border-radius: 1px;
  height: 3px;
  background: #005;
}

nav{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  background: ghostwhite;
  box-shadow: 1px 1px 7px #cac8c8;
}
nav img{
  right: 10px;
  position: absolute;
  width: 3rem;
  background: #0B0019;
  border-radius: 10%;
}
aside{
  position: fixed;
  place-items: center;
  display: grid;
  height: 100vh;
  top: 70px;
  z-index: 9999;
  width: 210px;
  background: #002;
  color: #fff;
}
aside a{
  position: relative;
}
aside a::before{
 content: '';
 position: absolute;
 width: 190px;
 transform: scaleX(0);
 height: 3px;
 bottom: -10px;
 left:-80px;
 filter: drop-shadow(1px 1px 7px #2B7CFF);
 background: #2B7CFF;
 transform-origin: bottom top;
 transition: transform 0.25s;
 }
 
aside a:hover::before{
  background: #2B7CFF;
  transform-origin: bottom bottom;
  transform: scaleX(1.1)
}

aside a:hover{
  text-shadow: 1px 1px 10px #2B7CFF78;
  color: #2B7CFF;
}

aside img{
  width: 150px;
  border-radius: 100px;
}
a{
  font-weight: 600;
  color: #fff;
}
aside span{
  color: dodgerblue;
}
aside h2,h1{
  color: #fff;
}
li{
  list-style: none;
  width: 90%;
  padding: 10px;
  background: #0001;
}

aside h1:hover{
  color: red;
}
span{
  color: #004
}
@media (max-width:1440px){
  header{
    color: #fff;
    display: flex !important;
  }
  nav{
    display: none;
  }
  .about{
    display: flex;
  }
  a{
    color: #fff !important;
  }
  a:hover{
    color: #005 !important;
  }
  .skills-cont{
    display: flex !important;
  }
}
header{
  height: 70px;
  background: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header h2{
  font-size: 27px;
}
header span{
  color: #007;
}
header a{
  font-size: 19px;
  color: #222 !important;
}
@media (max-width:900px){
  header{
    display: none !important;
  }
  nav{
    display: flex !important;
  }
  .about{
    display: block !important;
  }
  .landing a{
    color: #fff !important;
  }
  a:hover{
    color: #fff !important;
  }
  .skills-cont{
    display: block !important;
  }
}

.landing{
  box-shadow: 1px 1px 10px #004;
  position: relative;
  display: grid;
  background: linear-gradient(#04002D , #020019, #020019, #04002D);
  height: 100vh;
  justify-content: space-around;
}
.landing h3{
  color: #E5E5E5;
}
.landing span{
  text-shadow: 1px 1px 10px #006EDDAB;
  color: #007FFF;
}
.landing button{
  border-left: 2px dodgerblue solid;
  border-right: 2px #006CE3 solid;
  border-bottom: 2px #006CE3 solid;
  border-top: 2px dodgerblue solid;
  background: none;
  color: #fff;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  color: dodgerblue;
  padding: 5px;
  transition: 1s !important;
  justify-content: center;
  height: 35px;
}

button:hover {
  background: linear-gradient(dodgerblue, #006CE3);
  color: #fff;
}
html{
  scroll-behavior: smooth;
}
.about {
  align-items: center;
  left: 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  position: relative;
  padding: 20px;
  left: -100%;
  transition: 0.2s;
}
.about h4{
  margin-left: 50px;
}
.info{
  position:  relative;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info h3{
  padding: 15px;
  border: 1px lightgrey solid;
  backdrop-filter: blur(20px);
  border-radius: 2px;
  width: 90%;
  box-shadow: inset 3px 1px 7px #e4e3e3;
}
.about img{
  width: 350px;
  border-radius: 5px;
}
.about-container{
  margin-top: 100px;
}

.skills-cont{
   opacity: 0;
   flex-wrap: wrap;
   justify-content: space-around;
}
.skill{
  width: 270px;
  height: 150px;
  margin-top: 10px;
  border: 1px lightgray solid;
  display: grid;
  border-radius: 5px;
  padding: 7px;
  place-items: center;
  box-shadow: 1px 1px 7px lightgray;
}
.skill:hover{
  border-color: #005;
}
.skill svg{
  height: 70px;
  fill: #004;
}
.skill h2{
  color: #004;
}
button{
  width: 80px;
  background: none;
  margin-top: 10px;
  border: 2px solid #004;
  color: #004;
  height: 25px;
}
.p{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
}
.card{
  height: 200px;
  border-radius: 3px;
  padding: 10px;
  width:300px;
  margin-top: 30px;
  word-wrap: word-break;
  overflow-y: scroll;
  margin-top: 50px;
  border: 1px #D3D3D39F solid;
  box-shadow: 1px 1px 7px lightgrey;
  border-radius: 10px;
  position: relative;
}
.card img{
  border-radius: 5px;
  max-height: 300px;
  max-width: 300px;
}
.card p{
  margin-top: 5px;
}
#arrow-up {
  opacity: 0;
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 50px;
  z-index: 99999999;
  position: fixed;
  cursor: pointer;
  border-radius: 1500px;
  transform: rotate(450deg);
  height: 50px;
  font-weight: bold;
  animation: kia 1s ease-in infinite normal;
  font-size: 20px;
  border: 2px  #0000B2 solid;
  background: #004;
  backdrop-filter: blur(50px);
  color: #fff;
}
#arrow-up:hover {
  background: #003;
  color: #fff;
}
#arrow-up h3{
  color: #fff;
}

.icons2{
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px #004 solid;
}
.icons2 .html{
  fill: orangered;
}
.icons2 .css{
  fill: dodgerblue;
}
.icons2 svg{
  height: 23px; 
  border-radius: 10px;
  box-shadow: inset 1px 1px 7px #E6E6E6;
  padding: 7px;
  border-radius: 2px;
  margin-left: 10px;
}
.icons2 .js{
  fill: orange;
}

.icon2{
  padding: 10px;
  border-radius: 5px;
  background: dodgerblue;
}
.h1{
  border-right: 3px #005 solid;
  border-left: 3px #005 solid;
  width: 150px;
  position: relative;
  padding: 7px;
  text-align: center;
  color: #005;
  transition: 0.50s;
  box-shadow: 1px 1px 10px #5503ec3a;
}
.h1:hover{
  background: #005;
  box-shadow: 1px 1px 100px #5503ec3a;
  color: #fff;
}
.card::-webkit-scrollbar {
  width: 1em;
  border-radius: 100px;
  opacity: 0;
}
.card::-webkit-scrollbar-thumb {
  opacity: 0;
}
body::-webkit-scrollbar {
  width: 0.70em;
  border-radius: 100px;
  background: #e7e7eb;
}
 
body::-webkit-scrollbar-thumb {
  box-shadow: 1px 1px 7px lightgrey;
  background: none;
  border-radius: 100px;
  border: 1px lightgrey solid;
  
}
.nav{
  justify-content: space-around;
  margin-top: 30px;
  box-shadow: inset 1px 1px 10px #d6d5d5;
  border-bottom: 1px #d6d5d5 solid;
  border-top: 1px #d6d5d5 solid;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 7px;
}
.images img{
  width: 200px;
  padding: 1px;
  border: 1px #03D1EC66 solid;
  background: #002;
  margin-top: 20px;
  border-radius: 5px;
}
.images{
  flex-wrap: wrap;
  margin-top: 15px;
  display: none;
  justify-content: space-around;
  align-items: center;
}
::selection{
  background: #000055e0;
  padding: 20px;
  width: 300px;
  color: #fff;
}
footer{
  padding: 20px;
  color: #fff;
  background: #112;
  margin-top: 30px;
}
footer h4{
  color: #fff;
}
footer a{
  color: #50a2f5 !important;
  text-decoration: underline;
}
.landing img{
  width: 370px;
}
aside h1{
  top: 20px;
}
aside ul{
  margin-top: 40px;
}
aside li{
  margin-top: 10px;
   margin:2px;
}
.icons svg{
  margin-left: 10px;
  fill: #222;
  padding: 5px;
  background: #fff;
  border-radius: 100px;
  height: 20px;
  width: 20px;
}
.contact input{
  width: 250px;
  padding: 9px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 20px;
  background: none;
  border: 1px solid #E2E2E278;
  color: whitesmoke ;
  border-bottom: 2px whitesmoke soli  d;
  outline: none;
}
::placeholder{
  color: #fff;
  opacity: 0.70;
}
.contact button{
  width: 270px;
  border-color: whitesmoke;
  border-radius: 5px;
  height: 30px;
  color: whitesmoke;
}
.contact button:hover{
  background: whitesmoke;
  color: #002;
}
footer .icons{
  margin-top: 30px;
}
.contact{
  display: grid;
  place-items: center;
  padding: 20px;
  background: #113;
}
.c-card{
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: 1px 1px 10px #CACACA;
}
.c-card h3{
  color: #006;
}
.c-card svg{
  height: 20px;
  fill: #006;
}
.social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  }
